body {
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
    max-width: 800px;
}

#title {
    margin: 20px 20px 0px 20px;
    text-align: center;
}
#subtitle {
    /* margin-bottom: 20px; */
    text-align: center;
}

section-one {
    text-align: center;
    margin: 90px;
}

section-two {
    text-align: center;
    margin: 90px;

}

ul {
    margin: 40px auto;
    text-align: left;
}
li {
    margin: 10px;
}